* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.section {
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

/* headers */
.h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}
.h3 {
  font-size: 28px;
  font-weight: 400;
  color: #c30a17;
}
.h3--white {
  color: white;
}

.h2--white,
.text--white {
  color: white;
}

/* links */
.link {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}
.link--lg {
  font-size: 18px;
}
.link--white {
  color: white;
}
.link--red {
  color: #c30a17;
}

/* text */
.text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24p;
}

.button {
  background-color: #c30a17;
  border: none;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: flex-start;
}

/* burger */
.burger {
  width: 20px;
  border-bottom: 3px solid white;
  position: relative;
}
.burger::after,
.burger::before {
  content: "";
  width: 20px;
  border-bottom: 3px solid white;
  position: absolute;
}
.burger::after {
  top: 8px;
}
.burger::before {
  top: -8px;
}

/* header */
.header {
  display: flex;

  height: 54px;
  background-color: #c30a17;
  align-items: center;
}
.header__burger {
  display: inline-block;
  margin-right: 12px;
  position: relative;
  top: -4px;
}
.header__list {
  display: none;
}
.header__list,
.header__mobile-list {
  list-style: none;
  align-items: center;
}
.header__mobile-list {
  display: flex;
  flex: 1;
  gap: 32px;
}
@media (min-width: 1024px) {
  .header__mobile-list {
    display: none;
  }
  .header__list {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    flex: 1;
  }
  .header {
    background-color: white;
  }
}

.banner {
  position: relative;
  padding-top: 8px;
  background-image: url(./assets/banner.svg);
  height: 794px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.logo {
  width: 100px;
  height: 100px;
}
.banner__header {
  position: relative;
  display: flex;
  height: 52px;
}
.banner__logo {
  position: absolute;
  top: 0;
}

.banner__header-list {
  position: absolute;
  right: 0;
  display: none;
  list-style: none;
  color: white;
  background-color: #c30a17;
  height: 52px;
}
.banner__details {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 1240px;
  display: flex;
  align-items: center;
}
.banner__info,
.banner__buttons {
  flex: 1;
}
.banner__header-item {
  padding: 16px;
}
@media (min-width: 1024px) {
  .banner__logo {
    position: absolute;
    width: 250px;
    height: 250px;
    top: -64px;
  }
  .banner__header-list {
    display: flex;
  }
}
.banner__details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.banner__details .banner__info {
  border: 7px solid #c30a17;
  width: 360px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 10px;
  max-width: 360px;
}
.banner__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 600px) {
  .banner__details-container {
    flex-direction: row;
  }
  .banner__buttons {
    justify-content: space-evenly;
  }
}

/* portfolio */
.portfolio {
  margin-top: 30px;
}
.portfolio__header {
  font-weight: 200;
  margin-bottom: 30px;
  text-align: center;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: -10px;
  margin-right: -10px;
}
.cards__item {
  position: relative;
}
.cards__img {
  width: 100%;
}
.cards__details {
  padding: 20px;
  background-color: #e9eef1;
  display: flex;
  flex-direction: column;
}
.cards_details-header {
  margin-bottom: 10px;
}
.cards__text {
  margin-bottom: 10px;
}
.cards__button {
  justify-content: center;
  height: 44px;
  padding: 0;
  align-items: center;
}
.cards__tag {
  padding: 7px;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  color: #666;
  background-color: #e9eef1;
  position: absolute;
  top: 4px;
  left: 4px;
}

@media (min-width: 600px) {
  .cards {
    gap: initial;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cards__item {
    max-width: 50%;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (min-width: 1024px) {
  .cards__item {
    max-width: 25%;
  }
}

.reports {
  background-color: #e9eef1;
  padding: 50px 10px;
  margin-top: 50px;
}
.reports__item {
  display: flex;
  flex-direction: column;
  max-width: 610px;
}
.reports__details,
.reports__img-wrapper {
  flex: 1;
}
.reports__details {
  background-color: white;
  padding: 20px;
}

.reports__img {
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .reports__item {
    flex-direction: row;
    max-width: 1024px;
  }
}
.reports__header {
  margin-bottom: 10px;
}
.reports__text {
  line-height: 28px;
  color: #3a3e41;
}

.achievement {
  margin-top: 0px;
}
.achievement__header {
  text-align: center;
  font-weight: 200;
  margin-bottom: 30px;
}
.achievement__text {
  margin-bottom: 16px;
}

.footer {
  background-color: #3a3e41;
  color: white;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
}
.footer__first {
  display: flex;
  padding: 60px 0 20px;
  flex-direction: column;
  border-bottom: 2px solid #c30a17;
}
.footer__details {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.footer__socials {
  flex: 1;
}
.footer__details {
  flex: 3;
}
.footer__social-header {
  text-align: center;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.footer__icons {
  justify-content: center;
}
.icon {
  padding: 2px;
  padding-bottom: 1px;
  background-color: #626669;
}


.footer__second {
    padding-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer__link {
    display: none;
}
.footer__link--first {
    display: block;
    font-weight: bold;
    font-size: 18pxs;
}

.footer__last {
    padding: 30px 0;
}

@media (min-width: 600px) {
  .footer__first {
    flex-direction: row;
  }
  .footer__second {
    flex-direction: row;
    min-width: 50%;
    padding-left: 8px;
    padding-right: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 24px;


  }
  .footer__link {
    display: block;
    
    padding
  }
}
